{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see \Drupal\Core\Theme\ThemePreprocess::preprocessRegion()
 */
#}
{% if content %}
  <section {{ attributes.addClass('multimedia-section', 'site-section', 'px-4', 'lg:px-5') }}>
    <div class="multimedia-inner inner w-full">
    
      <div class="multimedia-content-wrap w-full grid lg:grid-cols-2">
        <div> {{ content }} </div>
        <div> </div>
      </div>
    
    </div>
  </section>
{% endif %}
